<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer th:src="@{/js/admin.js}" type="text/javascript"></script>
    <title>Main page</title>
</head>
<body>
<div>
    <div class="container-fluid" style="background: #343a40; padding: 15px 10px; display: flex; justify-content: space-between; align-items: center">
        <div style="display: flex; justify-content: space-between; color: lightgrey; align-items: center">
            <p style="font-weight: bold; margin: 0 5px" id="headerUsername"></p>
            <div> with roles: </div>
            <div style="display: flex">
                <p style="margin: 0 5px" id="headerRole"></p>
            </div>
        </div>

        <a href="/logout" style="text-decoration: none; color: #8097A0">Logout</a>
    </div>
    <main class="container-fluid">
        <div class="row">
            <nav class="nav nav-pills nav-fill col-2" style="display: flex; flex-direction: column;">
                <a href="/admin" class="active nav-link">Admin</a>
                <a href="/user" class="nav-link">User</a>
            </nav>

            <div class="col container-fluid" style="margin: 0; padding: 10px">
                <h1>Admin panel</h1>
                <nav style="display: flex">
                    <div class="border" style="padding: 5px 15px; border-bottom: none">
                        <a href="/admin" style="text-decoration: none; color: #343a40">User table</a>
                    </div>
                    <div class="border" style="padding: 5px 15px; border-bottom: none">
                        <a href="/create" style="text-decoration: none">New user</a>
                    </div>
                </nav>

                <div class="border" style="font-weight: 500; padding: 10px 20px; font-size: 24px;">All users</div>


                <div class="row border-top" style="font-weight: 500; margin: 20px 0">
                    <div class="col">ID</div>
                    <div class="col">First Name</div>
                    <div class="col">Last name</div>
                    <div class="col">Age</div>
                    <div class="col">Username</div>
                    <div class="col">Role</div>
                    <div class="col">Edit</div>
                    <div class="col">Delete</div>
                </div>

                <div class="container-fluid border" id="usersHolder">
                </div>


            </div>
        </div>


        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <form style="margin: 30px 0">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                            <input type="hidden" id="editModalId" name="id">
                            <div class="mb-1">
                                <p>Username: </p>
                                <input type="text" id="editModalUsername" name="username" class="form-control" placeholder="username...">
                            </div>
                            <div class="mb-1">
                                <p>Password: </p>
                                <input type="text" id="editModalPassword" name="password" class="form-control" placeholder="password...">
                            </div>
                            <div class="mb-1">
                                <p>Name: </p>
                                <input type="text" id="editModalName" name="name" class="form-control">
                            </div>
                            <div class="mb-1">
                                <p>Last name: </p>
                                <input type="text" id="editModalLastname" name="lastName" class="form-control">
                            </div>
                            <div class="mb-1">
                                <p>Age: </p>
                                <input type="number" id="editModalAge" name="age" class="form-control">
                            </div>
                            <div class="mb-1">
                                <select class="form-select" id="editModalRoles" multiple aria-label="multiple select example" style="width: 100%; margin-top: 10px">

                                </select>
                            </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="editButton" class="btn btn-primary">Edit</button>
                    </div>

                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="col">

                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                                <input type="hidden" id="deleteModalId" name="id">
                                <input type="text" id="deleteModalName" disabled class="form-control" name="name" style="margin: 10px 0">
                                <input type="text" id="deleteModalLastname" disabled class="form-control" name="lastName" style="margin: 10px 0">
                                <input type="text" id="deleteModalAge" disabled class="form-control" name="age" style="margin: 10px 0">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="deleteButton" class="btn btn-danger">Delete</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>