<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<button style="margin: 10px 0; background: greenyellow; outline: none; border: none; padding: 10px 15px; border-radius: 10px;">
    <a href="/logout" style="text-decoration: none">Logout</a>
</button>
<h1>User info</h1>
<div th:text="${user.name}"></div>
</body>
</html>