<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content=“text/html; charset=UTF-8” http-equiv=“Content-Type”/>
    <title>Main page</title>
</head>
<body style="background: white; margin: 0; padding: 0">
    <div style="margin: 10vh 20vw">
        <button style="margin: 10px 0; background: greenyellow; outline: none; border: none; padding: 10px 15px; border-radius: 10px;">
            <a href="/create" style="text-decoration: none">Create</a>
        </button>
        <div th:each="user : ${users}" style="display: flex; border: 1px solid greenyellow; border-radius: 10px; background: white; justify-content: space-around; margin: 15px 0; align-items: center">
            <p th:text="${user.name}">Test</p>
            <p th:text="${user.lastName}">Test</p>
            <p th:text="${user.age}">20</p>
            <p th:text="${user.country}">Test</p>
            <button style="background: greenyellow; outline: none; border: none; padding: 10px 15px; border-radius: 5px;">
                <a th:href="@{/update(id=${user.id})}" style="text-decoration: none">Update</a>
            </button>
            <form th:action="@{/delete}" th:method="post" th:object="${user}">
                <input type="hidden" name="id" th:value="${user.id}">
                <input type="hidden" name="name" th:value="${user.name}">
                <input type="hidden" name="lastName" th:value="${user.lastName}">
                <input type="hidden" name="age" th:value="${user.age}">
                <input type="hidden" name="country" th:value="${user.country}">
                <button type="submit" style="background: greenyellow; outline: none; border: none; padding: 10px 15px; border-radius: 5px">Delete</button>
            </form>
        </div>
    </div>
</body>
</html>